body{
    font-family: 'Montserrat', sans-serif;
    background:#F3F5FC;
   
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 100px;
}

.cuadro-texto{
    position: absolute;
    width: 42%;
    height: 50%;
    left: 15%;
    top: 20%;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    background-color: #f3f5fc;
    border : none;
    
    padding :  2px ;
    text-transform : lowercase;
}
.cuadro-texto::placeholder{
    color: #0A3871;

}

.cuadro-texto:focus, .cuadro-texto:active{
    border: none;
    outline: none;
}

.informacion p {
    color: #495057;
    margin-top: 100%;
    margin-left: 10%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    opacity: 1;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.textoDesencriptado{
    background: #D8DFE8;
    border: 3px solid #0A3871;
    border-radius: 50px;
    color: #0A3871;
    cursor: pointer;
    height: 50px;
    margin-left: 30px;
    width: 200px;

    flex: none;
    order: 0;
    flex-grow: 0;

    transition: 0.5s all;
}

.textoDesencriptado:hover{
    background-color: #d0dbea;
    border: #0858a7;
    transform: scale(1.1);
}

.botonEncriptado{
    background-color: #0A3871;
    border: 3px solid #0A3871;
    margin-left: 10%;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 200px;

    flex: none;
    order: 0;
    flex-grow: 0;

    transition: 0.5s all;
}

.botonEncriptado:hover{
    background-color: #3d8bea;
    border: #f3f7fb;
    transform: scale(1.1);
}


.botonCopiar{
    border: 3px solid #0A3871;
    border-radius: 50px;
    color: #0A3871;
    cursor: pointer;
    height: 50px;
    margin-left: 60%;
    position: absolute;
    width: 200px;

    flex: none;
    order: 0;
    flex-grow: 0;

    transition: 0.5s all;
}

.botonCopiar:hover{
    background-color: #092e5c;
    color: whitesmoke;
    border: #f3f7fb;
    transform: scale(1.1);
}

.cuadro-imagen{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 70%;
    left: 60%;
    top: 15%;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 60%;
    text-align: center;
  }
  
  .mensaje-encriptado h2 {
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
  }

  .mensaje-encriptado p {
    width: 80%;
    margin-top: 1px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #495057;
  }
  .cuadro-imagen img {
    height: 65%;
    margin-top: 10px;

  }